In [1]:
from tightening_project.data.loader import build_capability_v1_core_for_month
from tightening_project.paths import LAKE_ROOT
import pandas as pd

outs = build_capability_v1_core_for_month(2026, 1, baseline_months=12, force=True)
print(outs)

cap = pd.read_parquet(
    LAKE_ROOT / "gold/capability/tier=core/baseline_window=12m/asof=2026-01/part-0000.parquet"
)
cap.sort_values("Cpk").head(10)

C:\Users\neri.herrador\Desktop\analisis\analisis\tightening_project\src\tightening_project\data\cleaning\helpers.py:61: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[dt_col] = pd.to_datetime(df[dt_col], utc=True, errors="coerce")
C:\Users\neri.herrador\Desktop\analisis\analisis\tightening_project\src\tightening_project\data\loader.py:93: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  x["month"] = x[time_col].dt.to_period("M")

{'capability': WindowsPath('C:/Users/neri.herrador/Desktop/analisis/analisis/tightening_project/data/lake/gold/capability/tier=core/baseline_window=12m/asof=2026-01/part-0000.parquet'), 'meta': WindowsPath('C:/Users/neri.herrador/Desktop/analisis/analisis/tightening_project/data/lake/gold/_meta/tier=core/asof=2026-01/gold_build_meta.json')}

,STEP_ID,N,n_mr,mean,std_overall,mrbar,sigma_within,lsl,usl,tol_span,Pp,Ppk,Cp,Cpk,tol_variants_lsl,tol_variants_usl,tol_inconsistent
54,811235531,800,799,43.982738,8.344663,5.622541,4.984522,44.5,49.5,5.0,0.099864,-0.020662,0.167184,-0.034591,1,1,0
63,811235861,853,852,44.602321,6.977978,4.449190,3.944318,44.5,48.0,3.5,0.083596,0.004888,0.147892,0.008647,1,1,0
59,811235661,927,926,44.772503,6.787257,4.269492,3.785011,44.5,48.0,3.5,0.085945,0.013383,0.154117,0.023998,1,1,0
57,811235631,876,875,44.917306,7.075504,4.339520,3.847092,44.5,49.5,5.0,0.117777,0.019660,0.216614,0.036158,1,1,0
55,811235551,2385,2384,45.242780,6.794416,4.319610,3.829441,44.5,49.5,5.0,0.122650,0.036441,0.217612,0.064655,1,1,0
60,811235751,2248,2247,45.534938,6.187222,3.719083,3.297060,44.5,49.5,5.0,0.134686,0.055757,0.252750,0.104632,1,1,0
62,811235851,3212,3211,45.861644,5.617793,3.093690,2.742633,44.5,49.5,5.0,0.148338,0.080794,0.303844,0.165491,1,1,0
58,811235651,3434,3433,45.974549,5.560887,3.206971,2.843059,44.5,49.5,5.0,0.149856,0.088388,0.293112,0.172883,1,1,0
56,811235621,2641,2640,82.331284,10.001328,5.067955,4.492868,79.5,88.0,8.5,0.141648,0.094364,0.315315,0.210058,1,1,0
30,808195561,8652,8651,82.500852,6.656063,4.180364,3.705997,80.0,88.0,8.0,0.200319,0.125242,0.359777,0.224937,1,1,0

In [2]:

cap.describe()

,STEP_ID,N,n_mr,mean,std_overall,mrbar,sigma_within,lsl,usl,tol_span,Pp,Ppk,Cp,Cpk,tol_variants_lsl,tol_variants_usl,tol_inconsistent
count,76.0,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.0,76.0,76.0
mean,617683966.789474,6233.855263,6232.855263,24.086073,2.043635,1.109468,0.983571,23.028947,25.851316,2.822368,0.900100,0.826805,3.727132,3.530731,1.0,1.0,0.0
std,314326298.08737,5879.576043,5879.576043,24.175735,2.816700,1.715783,1.521084,23.535221,25.841107,2.357773,1.140883,1.087065,4.290231,4.314908,0.0,0.0,0.0
min,112351201.0,620.000000,619.000000,0.399224,0.005548,0.000637,0.000565,0.350000,0.450000,0.100000,0.083596,-0.020662,0.147892,-0.034591,1.0,1.0,0.0
25%,112364173.5,2164.750000,2163.750000,6.996553,0.117149,0.036343,0.032219,6.500000,7.500000,1.000000,0.264150,0.200655,0.430189,0.415404,1.0,1.0,0.0
50%,811235256.0,4129.500000,4128.500000,14.017153,0.459507,0.119137,0.105618,13.000000,15.000000,2.000000,0.478258,0.395739,2.488780,2.299547,1.0,1.0,0.0
75%,811235623.5,8865.750000,8864.750000,30.705163,2.067457,1.065729,0.944795,29.000000,33.000000,4.000000,1.251852,1.160691,5.396264,5.082395,1.0,1.0,0.0
max,811236481.0,29916.000000,29915.000000,82.850362,10.001328,5.622541,4.984522,80.000000,88.000000,8.500000,7.734490,7.346759,29.506925,29.488580,1.0,1.0,0.0

In [5]:
import pandas as pd
from tightening_project.data.loader import build_silver_auto
df_base = pd.read_parquet(build_silver_auto())
df_step = df_base[df_base["STEP_ID"] == 811235531]
df_step["month"] = df_step["DateTime"].dt.to_period("M")

monthly = (
    df_step.groupby("month")["FinalTorque"]
    .agg(["count", "mean", "std"])
)

monthly

C:\Users\neri.herrador\AppData\Local\Temp\ipykernel_2296\577928173.py:5: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df_step["month"] = df_step["DateTime"].dt.to_period("M")
C:\Users\neri.herrador\AppData\Local\Temp\ipykernel_2296\577928173.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_step["month"] = df_step["DateTime"].dt.to_period("M")

         count       mean       std
month
2026-01     78  44.265256  7.777522